header{
  background: white;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.05);
  padding-left:10%;
  padding-right:10%;
  margin-bottom:20px;
}

img{
  height: 40px;
  width: 40px;
  border-radius: 50%; 
}