<header>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">  <img src ="../../assets/image/logo.png" style="width:42px;height:42px;border:0;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lecturer">Lecturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student">Student</a>
        </li>
      </ul>
      <div *ngFor="let adminProf of adminProfile">
        <span class="navbar-text">
          <a class="nav-link right"><img src= {{adminProf.userProfileImageUrl}}/></a>
        </span>
        <span class="navbar-text">
          <a class="nav-link right">{{adminProf.userName}}</a>
        </span>
        <span class="navbar-text">
          <a class="nav-link right" (click)="SignOut()">Log out</a>
        </span>
      </div>
    </div>
  </nav>
</header>
