.sectionheader {
  width:100%;
  height: 50px;
  margin: 25px;
  border-radius: 6px 6px 0 0;
  background: transparent;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #3CD3AD ;
}

.sectionend {
  width:100%;
  height: 2px;
  margin: 30px;
  box-shadow: -3px 4px 35px 10px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  align-items: center;
  border-bottom: solid 2px #3CD3AD ;
}

.btngroup {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.button {
  display: inline-block;
  opacity: 0;
  transition: opacity .5s ease;
}

.button img {
  width: 30px;
  margin: 8px;
  opacity: .5;
}

.overlay {
  width: 110px;
  position: absolute;
  height: 110px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  top: 13px;
  left: 40%;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.coursewidget:hover .overlay {
  transform: scale(12);
  background: rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
}


.coursewidget {
  flex-basis: 300px;
  flex-grow: 10;
  height: 100px;
  margin: 10px;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  position: relative;
  overflow: hidden;
}


.courseimage{
  display: inline-block;
  height: 100px;
  width:100px;
  vertical-align: central;
}

.courseimage img {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:10px;
  vertical-align: central;
  border-radius: 50%;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
}

.coursewidget img[src=""] {
  display: none;
}


/* set element styles for desktop */
@media screen and (min-width: 900px) {

}

.coursewidget:hover {
  transform: translateY(-3px) scale(1.015);
  /*  background: linear-gradient(to left, #EB3349, #F45C43); */
  box-shadow: -1px 1px 30px 5px rgba(0, 51, 73, 0.6);
  font-weight: 700;
  transition: transform 0.3s ease;
}

.coursewidget:hover img {
  transform: scale(1.05);
  box-shadow: 0px -1px 10px 5px rgba(0, 0, 0, 0.1);
  transition: transform .5s ease;
}

.titlecontainer {
  padding: 8px;
  font-weight: 400;
  height: 100px;
  box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0px 7px 7px 0px;
}

.title {
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 7px 7px 0px 0px;
}

.collapse{
  flex-basis: 300px;
  flex-grow: 10;
  height: 320px;
  margin: 10px;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #fff; 
  position: relative;
  padding:10px;
}

.twobtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.yesbtn {
  width: 100px;
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  border-radius: 0px 7px 7px 0px;
  border: 0px !important;
  color: white;
  font-weight: 400;
}

.nobtn {
  width:100px;
  background: linear-gradient(to left, #EB3349, #F45C43);
  border-radius: 7px 0px 0px 7px;
  border: 0px !important;
  color: white;
  font-weight: 400;
}


button:disabled,
button[disabled] {
  background: #efefef;
  color: #ffffff;
  border: 1px solid #D1D1D1 !important;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}