<div class="bodycontainer">
  
  <div class="row">
    <div class="main">
      <div class=" col-12 col-sm-9 col-md-9 col-lg-10 nopadding">
        <div class="profilecard" *ngFor="let lecturerProf of lecturerProfile">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-3 col-xl-2">
              <div class="circle">
                  <img src={{lecturerProf.userProfileImageUrl}} />
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="userInfo">
                <p><span style="color:dimgray; font-size:20px; font-weight:700 "> {{lecturerProf.userName}} </span> </p>
                <p> {{lecturerProf.userEmail}}</p>
              </div>
            </div>  
          </div>              
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-2 nopadding">
        <div class="assigncoursecard"  
          data-toggle="collapse" data-target="#assignnewcourse"
          aria-expanded="false" aria-controls="assignnewcourse">
          <p>Assign New Course</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse scene_element scene_element--fadein" id="assignnewcourse">
    <app-lecturerallcourselist></app-lecturerallcourselist>
  </div>

  <div class="row">
      <div class="sectionheader">
          <h5>Assigned Courses</h5>
      </div>
  </div>

  <div class="row assignupdate" >
    <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 nopadding">
      <div class="collapse scene_element scene_element--fadein" id="collapsableAssignedCourseEditForm">
        <div class="collapseform">
          <form #editAssignedCourseForm="ngForm" (ngSubmit)="onUpdateAssignedCourse(editAssignedCourseForm)">
            <div class="form-group">
              <input  class="form-control" type="hidden"
                      name="$key" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.$key"
                      id="key" placeholder="key" >
            </div>

            <div class="form-group">
                <input class="form-control" type="hidden"
                        name="CourseCode" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.$key"
                        id="CourseCode" placeholder="Course Code" >
              </div>
      
            <div class="form-group">
              <input type="text" class="form-control"
                      name="CourseName" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.CourseName"
                      id="coursename" placeholder="Course Name" required>
            </div>
      
      
            <div class="form-group">
              <input type="text" class="form-control" name="CourseCredit" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.CourseCredit"
                      id="coursecredit" placeholder="Course Credit" required>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="Time" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.Time"
                    id="time" placeholder="Time" required>
            </div>
      
            <div class="form-group">
                <select class="custom-select mr-sm-2" name="Day" #name="ngModel" [(ngModel)]="lecturerService.selectedAssignedCourse.Day" id="day" placeholder="Time" required >
                    <option selected>Choose...</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="WednesDay">Wednecday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Frinday">Frinday</option>
                </select>
            </div>
        
            <div class="input-group twobtn" >
              <div class="input-group-append">
                  <button class="nobtn" type="button" data-toggle="collapse" data-target="#collapsableAssignedCourseEditForm"
                          aria-expanded="false" aria-controls="collapsableAssignedCourseEditForm">Cancel</button>
              </div>
              <div class="input-group-append">
                <button class="yesbtn" type="submit" [disabled]="!editAssignedCourseForm.valid" data-toggle="collapse" data-target="#confirmassign"
                        aria-expanded="false" aria-controls="collapsableAssignedCourseEditForm">Update</button>
              </div>
            </div>
      
          </form>
        </div>
      </div>

    </div>
  </div>
     
  <div class="row">
    <div class="main">
      <div class="coursewidget" *ngFor="let assignedCourse of assignedCourseList">
        <div class="row">
      
          <div class="col-3 button-grp">
            <div class="button">
              <a (click)="onCourseUnasssigned(assignedCourse.$key)"> <img src="../../assets/image/deletebtn.png"></a>
            </div>
            <div class="button">
                <a (click)="onCourseAsssignedEdit(assignedCourse)" data-toggle="collapse" data-target="#collapsableAssignedCourseEditForm"
                    aria-expanded="false" aria-controls="collapsableAssignedCourseEditForm"> <img src="../../assets/image/editbtn.png"></a>
              </div>
            <div class="courseimage">
              <img src="{{assignedCourse.Url}}">
            </div>
          </div>
      
          <div class="col-9">
            <div class="titlecontainer">
              <div class="title"> 
                <span style="font-weight:600;">{{assignedCourse.$key}}</span> &nbsp; 
                <span>{{ assignedCourse.CourseName }}</span></div>
              <div class="title"> 
                <span style="font-weight:600;">Credit</span> &nbsp; 
                <span>{{ assignedCourse.CourseCredit }}</span></div>
              <div class="title">
                <span> {{assignedCourse.Routine.Day}} </span>  &nbsp; 
                <span> {{assignedCourse.Routine.Time}}</span></div>
            </div>
          </div>               


        </div>        
      </div>
    </div>       
  </div>

  

</div>


