<div class="bodycontainer">
  
  <div class="row">
    <div class="main">
      <div class=" col-9">
        <div class="profilecard" *ngFor="let lecturerProf of lecturerProfile">
          <div class="circle">
            <img src={{lecturerProf.userProfileImageUrl}} />
          </div>
          <div class="userName">
            <p> {{lecturerProf.userName}}</p>
            <p> {{lecturerProf.userEmail}}</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="assigncoursecard">
          <p>Assign New Course</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <a href="#" class="card" *ngFor="let assignedCourse of assignedCourseList">
        <div class="overlay"></div>
        <div class="courseCode">
          <p><span style="font-weight:700">{{assignedCourse.$key}}</span> {{assignedCourse.CourseName}} </p>
        </div>
        <div class="day">
          <p>{{assignedCourse.Routine.Day}}</p>
        </div>
        <div class="time">
          <p>{{assignedCourse.Routine.Time}}</p>
        </div>
      </a>
   </div>
  </div>

  <div class="row">
  </div>

</div>


