.card {
  width: 240px;
  height: 300px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin: 5px;
}


.profilecard {
  width: 100%;
  height: 150px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 14px 26px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.main {
  justify-content: center;
  align-items: center;
  width:100%;
}



.assigncoursecard {
  width: 100%;
  height: 150px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  text-decoration: none;
}


.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.2), 0 24px 46px var(--box-shadow-color);
  transition: transform .4s ease;
}

.card:hover .overlay {
  transform: scale(5);
  transition: transform 1s ease;
}



.card:hover p {
  color: rgb(0, 0, 0);
  transform: scale(1.01);
}


.userName p {
  font-size: 15px;
  font-weight: 500;
  color: #4C5656;
  margin-top: 10px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.userEmail p {
  font-size: 12px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding:5px;
  margin:10px;
  box-shadow: 0 5px 14px rgba(0,0,0,0.3), 0 15px 24px rgba(0,0,0, 0.2);
  background: #4CB8C4;
}

.circle img[src=""] {
  display: none;
}

.overlay {
  width: 110px;
  position: absolute;
  height: 110px;
  border-radius: 50%;
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  top: 10px;
  left: 60px;
  z-index: -1;
  transition: transform 0.3s ease-out;
}
