<div class="container-fluid">
  <div class="row">
    <div id = "login-form" class="col-md-6 scene_element--fadein">
      <div class="row">
        <div id="login-imagebox" class="col-md-6 scene_element scene_element--fadeinleft" >
          <div id ="p1">
            <p>Student Attendance Monitoring System</p>
          </div>
          <div id ="p2">
            <p>"let's make attendance monitoring easy"</p>
          </div>
          
          <img src ="../../assets/image/loginformimage.png">   
        </div>
        

        <div id ="login-formbox" class="col-md-6 scene_element scene_element--fadeinright">
          <form (submit) ="loginUser($event)" autofill="off">
            <img src ="../../assets/image/logo.png">
         
            <input type="email" id="inputEmail3" placeholder="Email">
            <input type="password" id="inputPassword3" placeholder="Password">
            <input type="submit" value= "Login">
            <button class="forgetpass"> Forget Password </button>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
