<div class="row">
  <div class="sectionheader">
    <h5> <span style="color:dimgray">Enroll new Student</span></h5>
  </div>
</div>

<div class="col-12">    
  <div class="main">
    <a class="studentcard "*ngFor="let student of studentList" click="onStudentSelected(student)">
      <div class="overlay"></div>
      <div class="row">
        <div class="col-4">
          <div class= "titlecontainer">
            <div class="circle">
                <img src={{student.StudentProfileImageUrl}} />
            </div> 
            <div class="buttoncontainer">
              <div class="button">
                <a> <img (click)="onEnrol(student)" placement="bottom" ngbTooltip="add {{student.StudentMatric}} to this course" container="body" src="../../assets/image/enrolbtn.png"></a>
              </div> 
            </div>               
          </div>
        </div>
        <div class="col-8 image-container">
          <div class="matric">
            <p> {{student.StudentMatric}}</p>
          </div>
          <div class="name">
            <p>{{student.StudentName }}</p>
          </div>
          <div class="program">
            <p> {{student.StudentProgram}}</p>
          </div> 
        </div>
      </div>    
    </a>
  </div>
</div>