<div class="bodycontainer">

  <div class="main">
    <a href="#" class="card" *ngFor="let lecturer of lecturerList" routerLink="/lecturer/{{lecturer.$key}}" >
      <div class="overlay"></div>
      <div class="circle">
        <img src={{lecturer.userProfileImageUrl}} />
      </div>
      
      <div class="userName">
        <p>{{lecturer.userName}}</p>
      </div>
      <div class="userEmail">
        <p>{{lecturer.userEmail}}</p>
      </div>      
      
    </a>
  </div>

  <app-lecturerallcourselist></app-lecturerallcourselist>
   
</div>



