.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity .5s ease;
}

.button img {
  width: 30px;
  opacity: 1;
  margin: 5px;
  border-radius: 50%;
}

.coursewidget {
  flex-basis: 320px;
  flex-grow: 10;
  height: 100px;
  margin: 5px;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  position: relative;
  overflow: hidden;
}

.courseimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.courseimage img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
}

.coursewidget img[src=""] {
  display: none;
}


/* set element styles for desktop */
@media screen and (min-width: 900px) {
}

.coursewidget:hover {
  transform: translateY(-5px);
  box-shadow: -1px 1px 30px 5px rgba(0, 51, 73, 0.4);
  font-weight: 700;
  transition: transform 0.3s ease;
}


.overlay {
  width: 100px;
  height: 100px;
  left:40%;
  border-radius:50%; 
  position: absolute;
  top: 13px;
  z-index: -1;
  transition: transform 0.5s ease-out;
}


.coursewidget:hover .overlay {
  transform: scale(10);
  background: rgba(0,0,0,.2);
  transition: transform 1s ease;
  background: linear-gradient(to left, rgb(40, 216, 172), rgb(48, 155, 167));
}

.coursewidget:hover .button{
  opacity: 1;
}

.button img:hover{
  transform: scale(1.3);
  box-shadow: 0px -1px 10px 5px rgba(0, 0, 0, 0.1);
  transition: transform .5s ease;
  opacity:1;
}

.titlecontainer {
  font-weight: 400;
  height: 100px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0px 7px 7px 0px;
}

.title {
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 7px 7px 0px 0px;
}


.card {
  width: 240px;
  height: 220px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin:5px;
}


.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.2);
  transition: transform .4s ease;
}

.card:hover .overlay {
  transform: scale(5);
  transition: transform 1s ease;
}
