<div class="header">
	<div class="pagetitle">	
		<span>Home</span>
	</div>
</div>
<div class="side-nav">
	<div class="logo">
		<img src ="../../assets/image/logo.png">	
		<span>SAMS Admin</span>
	</div>
	<nav>
		<ul>
			<li class="active">
				<a href="#">
					<span><i class="fa fa-user"></i></span>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><i class="fa fa-envelope"></i></span>
					<span>Messages</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><i class="fa fa-bar-chart"></i></span>
					<span>Analytics</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><i class="fa fa-credit-card-alt"></i></span>
					<span>Payments</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div class="main-content">	
	<div class="main">
		<div class="widget1">			
			<div class="title">Lecturer</div>
			<img src ="../../assets/image/lecturer.png">
		</div>
		<div class="widget2">
			<div class="title">Course</div>
			<img src ="../../assets/image/courses.png">
		</div>
		<div class="widget3">
			<div class="title">Students</div>
			<img src ="../../assets/image/students.png">
		</div>
		
	</div>
</div>




