<div class="header">
	<div class="pagetitle">
		Home
	</div>
</div>
<div class="side-nav">
	<div class="logo">
		<img src ="../../assets/image/logo.png">	
		<span>SAMS Admin</span>
	</div>
	<nav>
		<ul>
			<li class="active">
				<a href="#">
					<span><img src ="../../assets/image/ihomeactive.png"></span> &nbsp; 
					<span style="color:#3CD3AD;">Home</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><img src ="../../assets/image/ilecturer.png"></span> &nbsp;
					<span>Lecturer</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><img src ="../../assets/image/icourse.png"></span> &nbsp;
					<span>Course</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><img src ="../../assets/image/istudent.png"></span>&nbsp;
					<span>Student</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span><img src ="../../assets/image/ilogout.png"></span>&nbsp;
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div class="main-content">	
	<!--<div id="slider">
		<figure>
			<img src ="../../assets/image/slider1.jpg">
			<img src ="../../assets/image/slider2.jpg">
			<img src ="../../assets/image/slider3.jpg">	
			<img src ="../../assets/image/slider4.jpg">
			<img src ="../../assets/image/slider5.jpg">
		</figure>

	</div> -->

	<div class="main">
		<div class="widget1 scene_element scene_element--fadeinleft">			
			<div class="title">Lecturer</div>
			<img src ="../../assets/image/lecturers.png">
		</div>
		<div class="widget2 scene_element scene_element--fadeinup">
			<div class="title">Course</div>
			<img src ="../../assets/image/courses.png">
		</div>
		<div class="widget3 scene_element scene_element--fadeinright">
			<div class="title">Students</div>
			<img src ="../../assets/image/students.png">
		</div>

	</div>
</div>

