.bodycontainer{
  padding-left:10%;
  padding-right:10%;
  width:100%;
  background: transparent;
}

.title {
  font-weight: 400;
  font-size: 14px;    
  color: white;
  text-align: center;
  transform: rotateX(1);
  -webkit-transform: rotate(-90.0deg); 
  font-size: 30px;
  
}

.titlecontainer {
  height: 250px;
  font-weight: 400;
  box-shadow:  5px 0px 18px 5px rgba(0, 0, 0, 0.3);
  border-radius: 7px 0px 0px 7px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.redgradientwidget:hover{
  box-shadow: -1px 1px 30px 5px rgba(235, 51, 73, 0.6);  
  transition: transform .3s ease-in !important; 
}

.bluegradientwidget:hover{
  box-shadow: -1px 1px 30px 5px rgba(60, 211, 173, 0.6);
  transition: transform .3s ease-in !important; 
}

.yellowgradientwidget:hover{
  box-shadow: -1px 1px 30px 5px rgba(202, 197, 49, .6);
  transition: transform .3s ease-in !important; 
}

.redgradientwidget:hover img, .bluegradientwidget:hover img, .yellowgradientwidget:hover img {
  transform: scale(1.2);
  transition: transform .3s ease-in !important; 
}

.redgradientwidget:hover .title, .bluegradientwidget:hover .title, .yellowgradientwidget:hover .title{
  font-weight: 600;
}

.bluegradientwidget:focus, .yellowgradientwidget:focus, .redgradientwidget:focus{
  outline: 0;
}