/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to left, #efefef,#e5e6e8);
}

body::-webkit-scrollbar { width:0 !important; }

.bodycontainer{
  padding-left:0%;
  padding-right:0%;
  width:100%;
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-duration: 1.5s;
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-duration: 1.5s;
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-duration: 1.5s;
    animation-name: fadeInRight;
  }

  .scene_element--fadeinleft {
    animation-duration: 1.5s;
    animation-name: fadeInLeft;
  }


/*-----------------------Dashboard, Course, Others --------------*/


/* main content styles */


button :focus{
  outline:0 !important;
}


.redgradientwidget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 250px;
    margin: 1%;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: linear-gradient(to left, #EB3349, #F45C43);      
    position: relative;
}

.bluegradientwidget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 250px;
    margin: 1%;
    border-radius: 6px;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, #3CD3AD, #4CB8C4); 
    position: relative;
}

.yellowgradientwidget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 250px;
    margin: 1%;
    border-radius: 6px;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, #ffc522, #ffa751); 
    position: relative;
}

.redgradientwidget img, .bluegradientwidget img, .yellowgradientwidget img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 20px;
}

.addwidget{
    flex-basis: 300px;
    flex-grow: 10;
    height: 260px;
    margin: 10px;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: #ffffff;    
    position: relative;
}



.addwidget img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-top: 15px;
}


/* set element styles for desktop */
@media screen and (min-width: 900px) {
    .bodycontainer{
      padding-left:10%;
      padding-right:10%;
      width:100%;
    }
    
    .redgradientwidget {
        flex-basis: 200px;
        flex-grow: 10;
        height: 260px;
        margin: 1%;
        box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background: linear-gradient(to left, #EB3349, #F45C43); 
        position: relative;
    }

    .bluegradientwidget {
        flex-basis: 200px;
        flex-grow: 10;
        height: 260px;
        margin: 1%;
        box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background: linear-gradient(to left, #3CD3AD, #4CB8C4);         
        position: relative;
    }

    .yellowgradientwidget {
        flex-basis: 200px;
        flex-grow: 10;
        height: 260px;
        margin: 1%;
        box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        background: linear-gradient(to left, #ffc522, #ffa751); 
        position: relative;
    }

    .redgradientwidget img, .bluegradientwidget img, .yellowgradientwidget img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 40px;
    }

    .addwidget img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        margin-top: 15px;
    }
}

/* main box container */

.main {
    display: flex;    
    flex-flow: row wrap;
}

.redgradientwidget:hover img, .bluegradientwidget:hover img, .yellowgradientwidget:hover img {
    transform: scale(1.1);
}

.redgradientwidget:hover{
    box-shadow: -1px 1px 30px 5px rgba(235, 51, 73, 0.6);   
    font-weight: 700;
}

.bluegradientwidget:hover{
    box-shadow: -1px 1px 30px 5px rgba(60, 211, 173, 0.6);
    font-weight: 700;
}

.yellowgradientwidget:hover{
    box-shadow: -1px 1px 30px 5px rgba(202, 197, 49, .6);
    font-weight: 700;
}

.redgradientwidget:hover .title, .bluegradientwidget:hover .title, .yellowgradientwidget:hover .title{
    font-weight: 700;
}

.redgradientwidget:hover img .bluegradientwidget:hover img, .yellowgradientwidget:hover img {
    transform: scale(1.2); 
}

.addwidget:hover {
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.7);
  transition: box-shadow 1s ease;
}

.title {
    padding:5px;
    font-weight: 400;
    font-size: 17px;    
    color: white;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
}


.titlecontainer {
    padding:8px;
    font-weight: 400;
    box-shadow: 0px 8px 15px -2px rgba(0, 0, 0, 0.3);
    border-radius: 7px 7px 0px 0px;
}


.addwidget p {
    padding:11px;
    font-weight: 400;
    font-size: 20px;
    color: #bfbfbf;
    text-align: center;
}

.addbtn{
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  border-radius: 0px 7px 7px 0px;
  border: 0px !important;
  color: white;
  font-weight:400;
}

.deletebtn{
  background: linear-gradient(to left, #EB3349, #F45C43);
  border-radius: 0px 0px 0px 0px;
  border: 0px !important;
  color: white;
  font-weight:400;
}

.addbtn:hover, .deletebtn:hover{
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, .2);
}

button:disabled,
button[disabled]{
  background: #efefef;
  color: #ffffff;
  border: 1px solid #D1D1D1 !important;
}

input.ng-invalid.ng-dirty{
  border: 1px solid red;
}


