/* You can add global styles to this file, and also import other style files */
body{
	 background-image: linear-gradient(to right, #f0f2f4,#d1d2d3);
}

body::-webkit-scrollbar { width:0 !important; }




/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-duration: 4s;
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-duration: 2s;
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-duration: 2s;
    animation-name: fadeInRight;
  }

  .scene_element--fadeinleft {
    animation-duration: 2s;
    animation-name: fadeInLeft;
  }
