.collapse{
    flex-basis: 300px;
    flex-grow: 10;
    height: 260px;
    margin: 10px;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: #fff; 
    position: relative;
    padding:10px;
}

.btn img {
  position: absolute;
  width: 500px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}
