  .studentcard {
    flex-basis: 300px;
    flex-grow: 10;
    height: 100px;
    margin: 5px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.2);background: white;
    position: relative;
  }

  .titlecontainer {
    height: 100px;
    font-weight: 400;
    box-shadow:  5px 0px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 7px 0px 0px 7px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}


  .studentcard:hover {
    transform: translateY(-6px) scale(1.005);
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    transition: transform .4s ease;
  }
  
  .studentcard:hover .overlay {
    transform: scale(6);
    transition: transform .5s ease;
  }
   
  .studentcard:hover p {
    color: aliceblue;
  }

  .matric p {
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    font-weight:500;
    color: #000000;
    margin-top: 5px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }

  .name p {
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight:500;
    color: #000000;
    margin-top: 0px !important;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .program p {
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    color:rgb(0, 0, 0);
    margin-top: 0px !important;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  
  .circle img {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 5px 14px rgba(0,0,0,0.3), 0 15px 24px rgba(0,0,0, 0.2);
  }
  
  .circle img[src=""] {
    display: none;
  }
  
  
  .overlay {
    width: 110px;
    position: absolute;
    height: 110px;
    border-radius: 50%;
    background: linear-gradient(to left, #3CD3AD, #4CB8C4);
    top: 14px;
    left: 40%;
    z-index: -1;
    transition: transform 0.3s ease-out;
  }
  
  .main{    
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

  }
  
  .buttoncontainer{
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    display: none;
    position: relative;
  }

  .studentcard:hover .buttoncontainer{
    transform: translateY(-5px);
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: transform 2s ease-in;
  }

  .button img{
      height:25px;
      width: 25px;
      margin: 0px 3px 0px 3px;
      border-radius: 50%;
  }

  .button:hover img{
    transform: scale(1.2);
    transition: transform .5s ease;
    box-shadow: 0 5px 14px rgba(0,0,0,0.3), 0 15px 24px rgba(0,0,0, 0.2);
  }
